@import './grid.scss';
* {
  font-family: 'Oxygen', sans-serif;
}

// html {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

body {
  margin: 0;
  // padding: 0;
  // box-sizing: border-box;
  background: #eee;
}

// .page-enter-active,
// .page-leave-active {
//   transition: opacity 0.3s;
// }
// .page-enter,
// .page-leave-to {
//   opacity: 0;
// }